body{
    
    background-color: #34495e;
    box-sizing: border-box;
}
.container{
    width: 100%; 
} 
.container .mainPageBox{
    width: 100%;
}
.topBoxRow{
    width: 100%;
    margin: auto;
    text-align: center;
} 
.container .mainPageBox .topBoxRow{
    margin: auto;
    text-align: center;
}
.container .mainPageBox .topBoxRow .text{
    padding-top: 35px;
}
.container .mainPageBox .topBoxRow .text span{
    font-size: 35px;
    color: white;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    margin-left: 1%;
    padding: 10px;
    border-radius: 15px;
}
.container .mainPageBox .topBoxRow .text span:hover{
    color: #2ecc71;
}
.formBoxCols{
    width: 100%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    border-radius: 10px;
}
.formBoxCols form{
    width: 40%;
    margin-left: 29.15%;
    text-align: center;
    background-color: #191919;
    padding: 20px;
    border: 2px solid #2ecc71;
    border-radius: 4px;
}  
input[type=text],input[type=password]{
    width: 65%; 
    padding: 7px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5%;
    border: 2px solid #3498db;
    outline: none;
    background: none;
    color: white;
}
input[type=text]:focus{ 
    width: 85%;
} 
input[type=password]:focus{
    width: 85%;
} 
button[type=submit]{
    width: 35%;
    padding: 7px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10%;
    display: inline-block;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
    border: 2px solid #2ecc71;
    color: white;
   
}
input[type=text]:focus, input[type=password]:focus{
    border: 2px solid #2ecc71;
}

button[type=submit]:hover{
    background-color: #2ecc71;
}
button[type=submit]:focus{
    width: 42%;
}
input.invalid{
    border: 2px solid red;
} 